@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@800&display=swap');

body {
    --background-color: rgb(22, 22, 22);
    --accent-1: rgb(34, 34, 34);
    --accent-2: rgb(51, 51, 51);
    --yellow: rgb(236, 252, 199);
    --blue: rgb(157, 193, 206);
    --green: rgb(128, 172, 128);
    --dark-green: rgb(129, 151, 139);
    --pink: rgb(223, 142, 208);
    --purple: rgb(151, 103, 247);
    --beige: rgb(224, 222, 209);
    --font: rgb(255, 255, 255);
    --accent-font: rgb(137, 139, 139);
    --white-accent: rgb(246, 246, 246);
    background-color: black;
    margin: 0px;
    padding: 0px;
}
body::-webkit-scrollbar {
    width: 0.25rem;
}
body::-webkit-scrollbar-track {
    background: var(--background-color);
}
body::-webkit-scrollbar-thumb {
    background: var(--font);
}

header {
    position: absolute;
    display: flex;
    align-items: center;
    top: 10px;
    left:10px;
    right: 10px;
    height: 60px;
    border-radius: 20px;
}


.menu {
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 50px;
    width: 50px;
    border-radius: 12.5px;
    left: 5px;
}

.bar1 {
    position: relative;
    display: flex;
    color: white;
    scale: 1.5;
    justify-content: center;
    align-items: center;
    left: 5px;
}

.bar2 {
    position: relative;
    display: flex;
    color: white;
    scale: 1.5;
    justify-content: center;
    align-items: center;
}

.fa-user {
    position: absolute;
    scale: 1.5;
    color: white;
    right: 22px;
}

nav {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    bottom: 0px;
    width: 100%;
    height: 75px;
    background-color: black;
}

.overview {
    position: absolute;
    top:   100px;
    left:  20px;
    right: 20px;
    height:180px;
    background-color: var(--accent-1);
    border-radius: 20px;
    border-width: 2px;
}

.overview-heading {
    font-family: 'JetBrains Mono', monospace;
    color: var(--font);
    font-size: 25px;
    margin-left: 20px;
}

#plus {
    color: white;
    position: absolute;
    right: 70px;
}

#home {
    color: white;
    position: absolute;
}

#list {
    color: white;
    position: absolute;
    left: 70px;
}


#plus, #home, #list {
    scale: 1.75;
    color: rgb(196, 196, 196);
    border-style: none;
    text-decoration:none;
    display: flex;
    justify-content: center;
    align-items: center;
}


#menu {
    z-index: -10;
    position: absolute;
    top:   55px;
    left:  0px;
    right: 0px;
    bottom: 5px;
    background-color: var(--background-color);
    border-radius: 35px;
}

.create-title {
    position: relative;
    z-index: 20;
    top: -60px;
    font-family: 'JetBrains Mono', monospace;
    color: var(--font);
    font-size: 25px;
    margin-left: 20px;
    left: calc(50% - width);

}

.heading-new-task {
    height: 20px;
    width: 100%;
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.new {
    position: absolute;
    top:   80px;
    left:  0px;
    right: 0px;
    bottom: 75px;
    background-color: var(--font);
    border-radius: 35px;
}

.title {
    position: relative;
    font-family: 'Nunito', sans-serif;
    font-size: 17px;
    left: 20px;
    width: 270px;
}

.title-input {
    position: absolute;
    font-family: 'Nunito', sans-serif !important;
    font-size: 18px;
	background: var(--white-accent);
    border-radius: 20px;
	color: black;
	border: 0;
	outline: 0;
    left: 20px;
    right: 20px;
	padding: 25px 18px;
}


.description {
    position: relative;
    font-family: 'Nunito', sans-serif;
    font-size: 17px;
    left: 20px;
    top: 100px;
    width: 270px;
}

.description-input {
    position: absolute;
    font-family: 'Nunito', sans-serif !important;
    font-size: 18px;
	background: var(--white-accent);
    border-radius: 20px;
	color: black;
	border: 0;
	outline: 0;
    left: 20px !important;
    right: 20px !important;
	padding: 25px 18px;
    height: 100px !important;
    top: 220px;
    resize: none;
    max-height: 100px;
}

.date {
    position: relative;
    font-family: 'Nunito', sans-serif;
    font-size: 17px;
    left: 20px;
    width: 70px;
    top: 270px;
}

.date-input {
    position: absolute;
    font-family: 'Nunito', sans-serif !important;
    font-size: 18px;
	background: var(--white-accent);
    border-radius: 20px;
	color: black;
	border: 0;
	outline: 0;
    left: 20px !important;
	padding: 25px 18px;
    height: 30px !important;
    top: 430px;
    resize: none;
    max-height: 100px;
}
::-moz-selection {
    background: black;
    color: white;
}
  
::selection {
    background: black;
    color: white;
}

.price {
    position: absolute;
    font-family: 'Nunito', sans-serif;
    font-size: 17px;
    right: 177px;
    top: 380px;
}

.price-input {
    position: absolute;
    font-family: 'Nunito', sans-serif !important;
    font-size: 18px;
	background: var(--white-accent);
    border-radius: 20px;
	color: black;
	border: 0;
	outline: 0;
    right: 112px;
	padding: 25px 18px;
    height: 30px;
    top: 430px;
    resize: none;
    max-height: 100px;
    width: 70px;
}

.dollar {
    position: absolute;
    font-family: 'Nunito', sans-serif;
    font-size: 20px;
    right: 80px;
    top: 435px;
}

.when {
    height: 75px;
    background-color: var(--white-accent);
    position: absolute;
    top: 550px;
    border-radius: 25px;
    left: 20px;
    right: 20px;
    display:flex;
    justify-content:space-between;
    padding-left: 30px;
    padding-right: 30px;
}

#week, #month, #year {
    position: relative;
    border-style: none;
    font-family: 'Nunito', sans-serif;
    font-size: 17.5px;
    color: gray;
    background-color: transparent;
    height: 60px;
    border-radius: 15px;
    width: 100px;
    top: 7.5px;
}

