@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300&display=swap');


body {
    --background-color: rgb(19, 19, 19);
    --accent-1: rgb(30, 32, 33);
    --accent-2: rgb(40, 42, 44);
    --accent-3: rgb(44, 46, 48);
    --yellow: rgb(253, 244, 133);
    --blue: rgb(180, 255, 223);
    --green: rgb(128, 172, 128);
    --dark-green: rgb(129, 151, 139);
    --pink: rgb(223, 142, 208);
    --purple: rgb(151, 103, 247);
    --beige: rgb(224, 222, 209);
    --font: rgb(255, 255, 255);
    --accent-font: rgb(137, 139, 139);
    --white-accent: rgb(246, 246, 246);
    background-color: black;
    margin: 0px;
    padding: 0px;
    font-family: 'Nunito', sans-serif;
}
body::-webkit-scrollbar {
    width: 0.25rem;
}
body::-webkit-scrollbar-track {
    background: var(--background-color);
}
body::-webkit-scrollbar-thumb {
    background: var(--font);
}

header {
    position: absolute;
    display: flex;
    align-items: center;
    top: 10px;
    left:10px;
    right: 10px;
    height: 60px;
    border-radius: 20px;
}

nav {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    bottom: 0px;
    width: 100%;
    height: 70px;
    background-color: black;
}

.overview {
    position: absolute;
    top:   100px;
    left:  20px;
    right: 20px;
    bottom: 450px;
    background-color: var(--accent-1);
    border-radius: 20px;
    border-width: 2px;
}

.overview-heading {
    font-family: 'JetBrains Mono', monospace;
    color: var(--font);
    font-size: 25px;
    margin-left: 20px;
}

#plus {
    color: white;
    position: absolute;
    right: 70px;
}

#home {
    color: white;
    position: absolute;
}

#list {
    color: white;
    position: absolute;
    left: 70px;
}


#plus, #home, #list {
    scale: 1.5;
    color: rgb(196, 196, 196);
    border-style: none;
    text-decoration:none;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: default;
}



.create-title {
    position: relative;
    z-index: 20;
    top: -60px;
    font-family: 'JetBrains Mono', monospace;
    color: var(--font);
    font-size: 25px;
    margin-left: 20px;
    left: calc(50% - width);
}

.heading-new-task {
    height: 20px;
    width: 100%;
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 100;
}

.new {
    position: absolute;
    top:   80px;
    left:  0px;
    right: 0px;
    bottom: 70px;
    background-color: var(--background-color);
    border-radius: 35px;
}

#title {
    position: relative;
    font-family: 'Nunito', sans-serif;
    font-size: 17px;
    left: 20px;
    width: 270px;
    font-weight: 800;
}

#title-input {
    position: absolute;
    font-family: 'Nunito', sans-serif !important;
    font-size: 18px;
	background: var(--white-accent);
    border-radius: 20px;
	color: black;
	border: 0;
	outline: 0;
    left: 20px;
    right: 20px;
	padding: 25px 18px;
}


#description {
    position: relative;
    font-family: 'Nunito', sans-serif;
    font-size: 17px;
    left: 20px;
    top: 100px;
    width: 270px;
    font-weight: 800;
}

#description-input {
    position: absolute;
    font-family: 'Nunito', sans-serif !important;
    font-size: 18px;
	background: var(--white-accent);
    border-radius: 20px;
	color: black;
	border: 0;
	outline: 0;
    left: 20px !important;
    right: 20px !important;
	padding: 25px 18px;
    height: 70px;
    top: 220px;
    resize: none;
    max-height: 100px;
}

#date {
    position: relative;
    font-family: 'Nunito', sans-serif;
    font-size: 17px;
    left: 20px;
    width: 70px;
    top: 240px;
    font-weight: 800;
}

#date-input {
    position: absolute;
    font-family: 'Nunito', sans-serif !important;
    font-size: 18px;
	background: var(--white-accent);
    border-radius: 20px;
	color: black;
	border: 0;
	outline: 0;
    left: 20px !important;
	padding: 25px 18px;
    height: 30px !important;
    top: 400px;
    resize: none;
    max-height: 100px;

}
::-moz-selection {
    background: black;
    color: white;
}
  
::selection {
    background: black;
    color: white;
}

#price {
    position: absolute;
    font-family: 'Nunito', sans-serif;
    font-size: 17px;
    right: 115px;
    top: 350px;
    font-weight: 800;
}

#price-input {
    position: absolute;
    font-family: 'Nunito', sans-serif !important;
    font-size: 18px;
	background: var(--white-accent);
    border-radius: 20px;
	color: black;
	border: 0;
	outline: 0;
    right: 60px;
	padding: 25px 18px;
    height: 30px;
    top: 400px;
    resize: none;
    max-height: 100px;
    width: 60px;
}

#dollar {
    position: absolute;
    font-family: 'Nunito', sans-serif;
    font-size: 20px;
    font-weight: 800;
    right: 30px;
    top: 405px;
}

#when {
    height: 75px;
    background-color: var(--blue);
    position: absolute;
    top: 500px;
    border-radius: 25px;
    left: 20px;
    right: 20px;
    display:flex;
    justify-content:space-between;
    padding-left: 30px;
    padding-right: 30px;
}

#week, #month, #year {
    position: relative;
    border-style: none;
    font-family: 'Nunito', sans-serif;
    font-size: 17.5px;
    color: gray;
    background-color: transparent;
    height: 60px;
    border-radius: 15px;
    width: 100px;
    top: 7.5px;
    font-weight: 800;
    cursor: pointer;
}


#add {
    position: absolute;
    font-family: 'Nunito', sans-serif;
    font-size: 20px;
    right: 20px;
    z-index: 6;
    bottom: 35px;
    top: 590px;
    width: 150px;
    border-width: 0px;
    border-radius: 30px;
    background-color: var(--yellow);
    color: black;

    max-height: 250px;
    font-weight: 1000;
}

#add:active {
    background-color: rgb(226, 218, 129);
}

#title, #description, #price, #date, #dollar {
    color: white;
}

#title-input, #description-input, #price-input, #date-input, #when {
    background-color: var(--accent-1);
    color: white;
}
::-webkit-calendar-picker-indicator {
    filter: invert(1);
}
#list-sub-1 {
    position: relative;
    background-color: var(--accent-2);
    border-radius: 10px;
    padding: 15px;
    color: var(--font);
    font-family: 'Nunito', sans-serif;
    font-size: 20px;
    height: 50px;
    left: 50px;
    width: 350px;
    display: flex;
    align-items: center;
    top: 300px;
}

#price-tag {
    position: absolute;
    height: 40px;
    background-color: var(--green);
    width: 60px;
    border-radius: 7.5px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 1000;
    right: 100px;
    color: black;
}


#home-icon, #plus-icon, #list-icon {
    height: 20px;
    user-select: none;
    cursor: pointer;
}

#menu-icon {
    height: 30px;
    width: 30px;
    margin-top: 0px;
    margin-left: 10px;
}

#profile-icon {
    position: absolute;
    height: 40px;
    width: 40px;
    margin-top: 0px;
    right: 10px;
}

#indicator-home {
    height: 4px;
    z-index: 50;
    width: 18px;
    background-color: white;
    position: absolute;
    bottom: 10px;
    border-radius: 50px;
    visibility: hidden;
}

#indicator-plus {
    height: 4px;
    z-index: 50;
    width: 18px;
    background-color: white;
    position: absolute;
    bottom: 10px;
    border-radius: 50px;
    right: 71px;
    visibility: hidden;
}

#indicator-list {
    height: 4px;
    z-index: 50;
    width: 18px;
    background-color: white;
    position: absolute;
    bottom: 10px;
    border-radius: 50px;
    left: 71px;
    visibility: hidden;
}


#plus-div {
    visibility: hidden;
}

#list-div {
    visibility: hidden;
}

#home-div {
    visibility: hidden;
}