body {
    background-color: var(--background);
    font-family: 'Rubik', sans-serif;
}
img[src="https://cdn.000webhost.com/000webhost/logo/footer-powered-by-000webhost-white2.png"]
{
display:none;
}

:root {
    --background: #161616;
    --white: #ffffff;
    --gray: #262626;
    --icon: #616161;
    --font: #4e4e4e;
    --purple: #c134dd;
    --blue: #43aaff;
    --orange:#fd8945;
    --yellow:#ffd843;
    --red:  #ff4c4c;
    --green: #00d062;
    --themeColor: #ffffff;
    --hover: #a3a3a3;
}

.fa-solid {
    scale: 2;
    color: var(--icon);
}

.fa-play:hover, .fa-gear:hover, .fa-rotate-left:hover {
    color: var(--white);
}

#wave {
    scale: 2.5;
    color: var(--themeColor);
}

#title {
    font-size: 30px;
    margin-left: 25px;
    color: var(--white);
}

#heading {
    position: absolute;
    color: white;
    font-family: 'Space Grotesk', sans-serif;
    top: 30px;
    left: 50px;
    display: flex;
    align-items: center;
}


#playButton {
    visibility: visible;
    position: inherit;
    border-style: none;
    background-color: transparent;
    border-radius: 15px;
    height: 50px;
    width: 50px;
}


#play-icon2 {
    height: 150px;
    visibility: visible;
}

#reload {
    visibility: hidden;
    position: absolute;
    border-style: none;
    background-color: transparent;
    border-radius: 15px;
    height: 50px;
    width: 50px;
}


.play_img {
    height: 50px;
}

.reload_img {
    height: 55px
}

.container1 {
    height: 100px;
    display: flex;
    justify-content: center;
    margin-top: 400px;
}

.controls {
    display: flex;
    height: 100px;
    width: 100px;
    border-radius: 25px;
    border-style: none;
    vertical-align: top;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
}

button:hover {
    cursor: pointer;
    color: var(--white);
}

#settings {
    display: flex;
    height: 100px;
    width: 100px;
    border-radius: 25px;
    border-style: none;
    vertical-align: top;
    text-align: center;
    align-items: center;
    justify-content: center;
    margin-left: 10px;
    
}

#settings-icon:hover {
    color: var(--white);
}

#settingsButton {
    visibility: visible;
    position: inherit;
    border-style: none;
    background-color: transparent;
    border-radius: 15px;
    height: 50px;
    width: 50px;
}

#settingsButton:hover {
    color: var(--white);
}


#settings_img {
    height: 60px;
}

#timer {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    top: 16em;
    height: 120px;
    width: 300px;
    border-radius: 25px;
    border-style: none;
    position: absolute;
    color: var(--white);
    font-weight: bold;
    font-family: 'Azeret Mono', monospace !important;
}

#timer-container {
    display: flex;
    top: 250px;
    justify-content: center;
}

#minutes {
    color: var(--white);
    font-size: 100px;
    width: 150px;
    height: 90px;
    text-align: center;
}

#seconds {
    color: var(--white);
    font-size: 100px;
    width: 140px;
    height: 90px;
    text-align: center;
}

#doppelpunkt {
    color: var(--white);
    font-size: 100px;
    width: 40px;
    height: 90px;
    margin-bottom: 10px;
    margin-right: 5px;
    margin-left: -25px;
}

.header {
    display: flex;
    position: absolute;
    top: 100px;
    height: 75px;
    width: 600px;
    border-radius: 25px;
    border-style: none;
    margin: 0 auto;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

#header-container {
    display: flex;
    justify-content: center;
}
#work {
    font-size: 20px;
    border-style: none;
    color: var(--font);
    border-radius: 15px;
    width: 140px;
    height: 50px;
}


#short_break {
    font-size: 20px;
    border-style: none;
    color: var(--font);
    border-radius: 15px;
    height: 50px;
    width: 140px;
}

#long_break {
    font-size: 20px;
    font-family: 'Varela Round', sans-serif;
    border-style: none;
    color: var(--font);
    border-radius: 15px;
    height: 50px;
    width: 140px;
}


#work, #long_break, #short_break {
    background-color: transparent !important;
    font-size: 23px;
}

#work:hover, #long_break:hover, #short_break:hover {
    color: var(--hover) !important;
}

#themes {
    position: absolute;
    border-radius: 15px;
    border-style: none;
    background-color: var(--gray);
    margin: 0 auto;
    visibility: hidden;
    display: flex;
    flex-direction: row;
    right: 85px;
    bottom: 15px;
    align-items: center;
}



.themeIcon {
    height: 50px;
    width: auto;
    cursor: pointer;
}

.fa-palette {
    position: absolute;
    cursor: pointer;
    margin-bottom: 5px;
    margin-right: 5px;
}
.fa-gear:hover {
    color: var(--white) !important;
}

.fa-palette:hover {
    color: var(--white) !important;
}

#dropDownButton {
    font-size: 20px;
    border-style: none;
    background-color: transparent;
    color: var(--font);
    border-radius: 15px;
    width: 130px;
    height: 50px;
    position: inherit;
    top: calc(50% - 25px);
    left: calc(50% - 65px);
}

.fa-droplet {
    margin: 20px;
    cursor: pointer;
}

.fa-droplet:hover {
    scale: 2.4 !important;
}

#settingsDropdown {
    position: absolute;
    height: 300px;
    width: 300px;
    top: 510px;
    border-radius: 25px;
    border-style: none;
    background-color: transparent;
    display: none;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

#input-div-work, #input-div-shortBreak, #input-div-longBreak {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    height: 50px;
    padding-bottom: 10px;
}

#workSettings,#shortBreakSettings, #longBreakSettings {
    font-size: 20px;
    border-style: none;
    background-color: transparent;
    color: var(--font);
    border-radius: 15px;
    height: 50px;
    width: 140px;
    cursor: default;
}



option {
    border-style: none;
    font-size: 30px;
}


#workInput, #shortBreakInput, #longBreakInput {
    background-color: transparent;
    border-style: none;
    border-radius: 17px;
    color: var(--font);
    height: 50px;
    width: 80px;
    font-size: 30px;
    cursor: pointer;
    margin-top: 5px !important;
}

#workInput:focus, #shortBreakInput:focus, #longBreakInput:focus {
    color: var(--white);
    background-color: var(--background);
}

#workInput:hover, #shortBreakInput:hover, #longBreakInput:hover {
    color: var(--white);
    background-color: var(--background);
}


#palette-icon {
    bottom: 30px;
    right: 30px;
}


::selection {
    background: transparent;
}


#modeDiv {
    height: 50px;
    background-color: var(--gray);
    width: 50px;
    border-radius: 15px;
    position: absolute;
    top: 15px;
    right: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}


#github {
    font-weight: bolder;
    height: 20px;
    position: absolute;
    margin-left: 20px;
    bottom: 27.5px;
    color: var(--font);
    cursor: pointer;
    font-size: 17.5px;
    text-decoration: none;
}

#github:hover {
    color: var(--white);
    text-decoration: underline;
}


select:hover {
    color: var(--white);
}



@media (max-width: 620px) {
    .header {
        flex-direction: column;
        width: 200px;
        justify-content: space-evenly;
        height: 225px;
    }
    #timer, .controls, #settingsButton {
        transform: translateY(75px);
    }
    #settingsDropdown {
        width: 270px;
        height: 250px;
        transform: translateY(50px);
    }
    #input-div-shortBreak, #input-div-longBreak {
        margin-top: -25px;
    } 
    #workInput, #shortBreakInput, #longBreakInput {
        font-size: 25px;
    }
    #themes {
        position: absolute;
        border-radius: 15px;
        border-style: none;
        background-color: var(--gray);
        margin: 0 auto;
        visibility: hidden;
        display: flex;
        flex-direction: column;
        align-items: center;
        right: 18px;
        bottom: 85px;
        align-items: center;
    }
}

