html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: #121212;
    color: #fff;
    font-family: 'Roboto', sans-serif;
  }
  
  nav {
    position: fixed;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: transparent;
    padding: 10px 0;
    border-top: 1px solid #444444;
    border-bottom: 1px solid #444444;
  }
  
  nav a {
    color: #8a8a8a;
    text-decoration: none;
    font-size: 28px;
    transition: color 0.2s ease-in-out;
  }
  
  nav a:hover {
    color: #fff;
  }
  
  nav a.active {
    color: #fff;
  }
  
  nav a:active {
    color: #fff;
  }
  
  #list.active,
  #home.active,
  #create.active {
    background-color: #121212;
    color: #fff;
  }
  
  .content {
    padding: 50px;
    background-color: transparent;
  }
  
  h1 {
    font-size: 36px;
    margin-bottom: 20px;
  }
  
  p {
    font-size: 24px;
    line-height: 1.5;
  }
  